* {
  font-family: Maple Mono;
  border-radius: 12;
  font-size: 14px;
  padding: 0px; 
  background: transparent;
}

window#waybar {
  background-image: linear-gradient(to bottom, #141216 100%);
  border-radius: 14px;
  padding: 2px;
  border-color: red;
}

#battery,
#network,
#clock,
#custom-applauncher,
#workspaces,
#pulseaudio {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 6px;
  margin-right: 0px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #d8cab8;

  border-style: none;
  transition-duration: 120ms;
}

#clock {
  margin-right: 6px;
}

#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
}

#custom-applauncher {
  font-weight: bold;
  transition-duration: 120ms;
}
#custom-applauncher:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
}


#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #d8cab8;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #8f56e1;
}
#workspaces button.focused {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.active {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fcb167;
}

#battery {
  background-color: #222222;
  color: #d8cab8;
}
#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #fc4649;
}
